@import "variables.less";
@import "mixins.less";

// Type
body {
	font-family: @body-font;
	font-size: @normal;
	line-height: 27px;
	color: @grey;
}
h1, h2, h3, h4, h5, h6 {
	font-family: @headline-font;
	font-weight: 700;
	letter-spacing: 1px;
}
h3 {
	margin: 50px 0 20px 0;
}
ul,
ol {
	margin: 15px 0 30px 0;
	padding: 0 0 0 20px;
	li {
		margin: 0 0 8px 0;
	}
	&.no-bullets {
		list-style: none;
		margin: 0 0 20px 0;
		padding: 0;
		li { margin: 6px 0 10px 0; }
		.fa {
			width: 31px;
		}
	}
}
em {
	font-style: normal;
	color: @grey-dk;
	background: @brand-bg;
}
// Form styles
input[type="text"],
input[type="email"] {
	border: 2px solid @brand-lt;
	border-radius: 3px;
	outline: none;
	margin: 10px;
	padding: 3px 6px;
}
// Links
a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
}
a {
	cursor: pointer;
	color: @link;
}
a:hover {
	color: @link-hover;
}
a:focus,
a:active {
	color: @link-hover;
	background: @brand-bg;
}
// Buttons
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: none;
}
.btn-primary {
	font-size: @normal;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 1px 0 @brand-dk;
	background: @brand;
	box-shadow: 0 3px 0 0 @brand-dk;
	border: none;
	border-radius: 30px;
	margin: 10px 10px 20px 0;
	padding: 8px 22px;
	&:hover,
	&:active,
	&:focus {
		background: @brand-dk;
		box-shadow: 0 3px 0 0 black;
	}
	&.size-lg {
		font-size: @big;
		padding: 14px 40px;
	}
}
// Table
body table {
	font-size: @small;
	width: 100%;
	margin: 15px 0 25px 0;
	tr {
		border-bottom: 1px dotted @grey-lt;
		margin-bottom: 10px;
		td {
			padding: 14px 0;
			&:first-child {
				font-weight: bold;
			}
			span {
				font-size: @tiny;
				margin-right: 6px;
			}
		}
	}
	th {
		font-size: @tiny;
		font-weight: normal;
		color: @grey;
	}
}
// Blockquote
blockquote {
	font-style: italic;
	background-color: @brand-bg;
	border-color: @brand;
	margin-top: 40px;
}
cite {
	font-style: normal;
	color: @grey-dk;
	span.company-name {
		font-size: @small;
		color: @grey;
		margin: 0 7px;
	}
}

// Highlight Color Customization
::selection {
  text-shadow: none;
  color: @brand-dk;
  background: @brand-bg;
}

// Custom Navigation Bar
.navbar-default {
	background-color: rgba(255,255,255,0.88);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-bottom: 1px solid #fff;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  transition: padding 0.3s;

  .navbar-brand {
  	.2x('../img/logo/logo-easyclad.png', "no-repeat", 181px, 27px);
  	background-size: 80% !important;
  	width: 181px;
  	height: 27px;
  	margin: 14px 16px 0 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
		&:hover {
			opacity: 0.85;
		}
  }
  .brand-tagline {
	  display: none;
  }
	.navbar-toggle {
		background-color: @brand-lt;
		border-color: @brand-lt;
		.icon-bar {
			background-color: white;
		}
		&:hover,
		&:focus {
			background-color: @brand;
			border-color: @brand;
		}
	}
  .nav {
  	li {
  		a {
	  		font-size: @tiny;
    		font-weight: 700;
  			letter-spacing: 1px;
  			color: @link;
				border-radius: 30px;
  			padding: 10px;
  			&:hover,
  			&:focus {
  				color: @brand-dk;
					background: @brand-bg;
  			}
  		}
  	}
  }
	.navbar-nav>.active>a {
		color: @brand-dk;
		background: @brand-bg;
		border-radius: 30px;
	}
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
		color: @brand;
		background: @brand-bg;
		border-radius: 30px;
 	}
}

@media(min-width:768px) {
  .navbar-default {

    padding: 16px 0 9px 0;

    .navbar-brand {
    	background-size: 100% !important;
	  	margin-top: 6px;
    }
		.navbar-nav>.active>a {
			border-radius: 30px;
		}
	  .nav {
	  	li {
	  		a {
					font-size: @small;
	  			padding: 10px 12px;
	  		}
	  	}
	  }
  }
  .navbar-default.navbar-shrink {
    padding: 6px 0 0 0;
		.navbar-brand {
 	  	margin-top: 10px;
 	  	width: 150px;
    }
	}
}

@media(min-width:980px) {
  .navbar-default {
	  .brand-tagline {
		  display: block;
		  font-size: @small;
		  float: left;
		  margin-top: 11px;
	  }
	  .nav {
	  	li {
	  		a {
					font-size: @normal;
	  			padding: 10px 14px;
	  		}
	  	}
	  }
  }
}

// hero
header {
	background-color: @grey-bg;
	border-bottom: 2px solid @grey-lt;
  -webkit-animation: fadein 3s; /* Safari and Chrome */
	-moz-animation: fadein 3s; /* Firefox */
	-ms-animation: fadein 3s; /* Internet Explorer */
	-o-animation: fadein 3s; /* Opera */
	animation: fadein 3s;

	.carousel {
		.carousel-inner {
			border-bottom: 2px solid @grey;
		}
		.item {
			max-height: 440px;
		}
		img.slide-img {
			width: 100%;
		}
		.carousel-control {
			text-shadow: none;
			color: @brand;
			background: none;
			top: 47%;
			bottom: auto;
			width: 60px;
			&:focus {
				opacity: 0.5;
			}
			&:hover {
				opacity: 1;
			}
			.fa {
				font-size: 42px;
			}
		}
	}
	.intro-text {
		text-align: center;
		h2, h3 {
			font-family: @headline-font;
			letter-spacing: 1px;
			color: @brand;
		}
		h2 {
			font-family: @headline-font;
			font-size: 48px;
			line-height: 54px;
			font-weight: 400;
			font-style: italic;
			margin-bottom: 10px;
			padding: 0px 8px 10px 8px;
		}
		h3 {
			font-size: 24px;
			line-height: 30px;
			color: @grey-dk;
			margin: 0 0 20px 0;
		}
	}
	.btn-wrap {
		margin-bottom: 20px;
	}
}

// Shared section styles
section {
  padding: 20px 0;
  h2.section-heading {
	  color: @grey-dk;
		margin: 0 0 0 0;
		span {
			font-size: @normal;
		}
  }
  h3.section-subheading {
		font-size: @big;
		line-height: 26px;
		font-family: @headline-font;
		font-weight: 400;
		margin: 40px 0 20px 0;
		&.sidebar-widget {
			color: @grey-dk;
			border-bottom: 2px solid @grey-lt;
			padding-bottom: 10px;
		}
  }
  h4 {
	  font-size: 20px;
	  color: @grey-dk;
		margin: 34px 0 18px 0;
		span {
			font-size: @small;
		}
  }
  img {
	  margin-top: 12px;
	  margin-bottom: 24px;
	  &.img-centered {
		  margin-left: auto;
		  margin-right: auto;
	  }
  }
}

@media(min-width:768px) {
	section {
		padding: 60px 0;
		.main-col-wrap { // add more spacing inbetween products
			margin: 0 0 50px 0;
			padding-right: 100px;
		}
		&#about {
			padding: 30px 0 50px 0;
		}
		&.casestudy-photos,
		&.partner-logos {
			padding: 30px 0;
		}
	}
}

// Zebra striped sections
section#products,
section#color-range,
section#contact {
	background: @grey-bg;
	border-top: 2px solid @grey-lt;
	border-bottom: 2px solid @grey-lt;
}

// About section
section#about {
	ul.depot-locations {
		font-size: @small;
  	.2x('../img/artwork/map-depot-locations.png', "no-repeat");
  	background-size: 50%;
  	background-position: 95% 95%;
  	li {
	  	margin-bottom: 5px;
  	}
	}
}

// Products section
section#products {
	border-top:  2px solid @grey-lt;
	img {
		opacity: 0.95;
		margin-top: 50px;
		&:hover {
			opacity: 1;
		}
	}
}

// Case study photo sections
section#photo-examples {
	img {
		margin: 20px auto;
	}
}

// Color range section
section#color-range {
	border-top: none;
	.row {
		margin-top: 20px;
		label {
			font-size: @tiny;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			position: absolute;
			left: 25px;
			bottom: 0;
		}
		&.color-range-vivid {
			label {
				color: #fff;
			}
		}
		&.color-range-pastel {
			label {
				color: @grey;
			}
		}
	}
	.color-tile {
		background-color: @grey-bg;
		border: 1px solid transparent;
		border-radius: 3px;
		width: 100%;
		height: 100px;
		box-sizing: border-box;
		&.vivid-purple {
			background-color: #8d1c58;
		}
		&.vivid-pink {
			background-color: #ed1260;
		}
		&.vivid-red {
			background-color: #9e1c20;
		}
		&.vivid-orange {
			background-color: #f36c21;
		}
		&.vivid-olive {
			background-color: #bdc197;
		}
		&.vivid-green {
			background-color: #dce589;
		}
		&.vivid-blue {
			background-color: #8db0dd
		}
		&.vivid-black {
			background-color: #101c25;
		}
		&.vivid-steel {
			background-color: #526671;
		}
		&.vivid-lime {
			background-color: #d1df43;
		}
		&.vivid-white {
			background-color: #ffffff;
			border: 1px solid @grey-lt;
			label { color: @grey; }
		}
		// pastels
		&.oyster {
			background-color: #fffef4;
		}
		&.green {
			background-color: #c7e7de;
		}
		&.cream {
			background-color: #fcfacf;
		}
		&.mint {
			background-color: #c7e7de;
		}
		&.blue {
			background-color: #bfe2ec;
		}
		&.grey {
			background-color: #dddedf;
		}
		&.linen {
			background-color: #f5f6f7;
		}
		&.cesco {
			background-color: #eff3f6;
		}
		&.seafoam {
			background-color: #ddf0ea;
		}
		&.fawn {
			background-color: #e0c7ae;
		}
		&.satin-white {
			background-color: #ffffff;
			border: 1px solid @grey-lt;
		}
	}
}

// Email sign up section
section#email-signup {
	text-align: center;
	background-color: @brand-bg;
	border-bottom:  2px solid @grey-lt;
	h2.section-heading {
		margin: 6px 0 24px 0;
	}
	.btn-primary {
		font-size: @small;
		border-radius: 3px;
		margin: 9px 0 0 0;
		padding: 4px 16px;
	}
}

// Contact Section
section#contact {
	ul.no-bullets.cta-quote {
		font-size: @big;
		.fa.fa-envelope-o { width: 35px; }
	}
}

// Footer
footer {
	background-color: @grey-bg;
	border-top: 2px solid @grey-lt;
	padding: 100px 0;
	.row > div {
		margin-bottom: 20px;
	}
	p {
		margin: 0;
		em {
			font-size: @small;
			font-weight: bold;
			color: @grey-dk;
			background: none;
			margin-right: 5px;
		}
		.fa {
			font-size: 18px;
			color: @grey-dk;
			position: relative;
			top: 1px;
			width: 25px
		}
		a {
			vertical-align: top;
			color: @grey;
			&:hover {
				text-decoration: none;
				color: @brand;
			}
		}
	}
	p.company-copyright {
		color: @grey-dk;
		display: inline-block;
	}
}

.product-modal {
	.modal-backdrop {
		position: static; // Fix for modal not scrolling in Window
	}
	.modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
		.modal-body {
			padding: 15px 0;
		}
		h2 {
	    	font-size: 50px;
				color: @grey-dk;
	    	margin-bottom: 15px;
		}
		h3 {
			color: @grey-dk;
		}
		h4 {
			margin-top: 12px;
		}
		p.item-intro {
			margin: 20px 0 30px;
			font-family: @headline-font;
			font-style: italic;
			font-size: 16px;
		}
		p.product-fire-rating {
			font-size: @small;
			line-height: 22px;
		}
		p.accessory-description {
			font-size: @small;
			line-height: 22px;
			margin-bottom: 5px;
		}
		p em { // price
			background: none;
		}
		img {
			margin-top: 12px;
			margin-bottom: 30px;
		}
	}
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:@grey-dk;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:@grey-dk;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }
        }
    }
}



// css3 animations for header
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
